<div class="card">
    <div class="card-title">
        SR Evolution
    </div>
    <div class="card-content">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header">Damage</div>
                <div class="collapsible-body">
                    <canvas id="sr-evolution-damage" class="auto-chart-js"></canvas>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Support</div>
                <div class="collapsible-body">
                    <canvas id="sr-evolution-support" class="auto-chart-js"></canvas>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Tank</div>
                <div class="collapsible-body">
                    <canvas id="sr-evolution-tank" class="auto-chart-js"></canvas>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Open Queue</div>
                <div class="collapsible-body">
                    <canvas id="sr-evolution-open-queue" class="auto-chart-js"></canvas>
                </div>
            </li>
        </ul>
    </div>
</div>