<div class="card medium">
    <div class="card-title">
        #Games by hours
    </div>
    <div class="card-content">
        <canvas id="wr-by-hours" height="300px" class="auto-chart-js"></canvas>
    </div>
</div>