<div class="card">
    <div class="card-title">
        Win rate by days
    </div>
    <div class="card-content">
        <canvas id="wr-by-day-of-week" class="auto-chart-js"></canvas>
    </div>
</div>