@model DataModel.GameHistoryModel

@{
    ViewBag.Title = "Game History";
}
<div class="col s12 center">
    <h3>@ViewBag.Title</h3>
</div>

@await Html.PartialAsync("_GameList", Model)
<div class="col s12 center">
    @await Html.PartialAsync("_GamePagination", Model)
</div>