@model WebApplication.Models.ChartJsData<double>
       <div class="card">
           <div class="card-title">
               Win rate by role
           </div>
           <div class="card-content">
               <canvas id="wr-by-role"></canvas>
           </div>
       </div>
       
       <script type="text/javascript">
           (function() {
               let WrByRoleCtx = document.getElementById("wr-by-role")?.getContext("2d");
               new Chart(WrByRoleCtx, {
                   type: 'bar',
                   data: @Json.Serialize(Model),
                   options: {
                       responsive: true,
                       scales: {
                         x: {
                           stacked: true,
                         },
                         y: {
                           stacked: true
                         }
                       }
                   }
               })
           })();
       </script>

