@{
    ViewData["Title"] = "Home Page";
}

<div class="center row">
    <div class="col s12 m6 l5">
        @await Component.InvokeAsync("WrByRoleComponent")
    </div>
    <div class="col s12 m6 l7">
        @await Component.InvokeAsync("SrEvolution")
    </div>
</div>