@using WebApplication.Components

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col s12">
        @await Component.InvokeAsync(nameof(GameListComponent))
    </div>
</div>
<div class="row center">
    <div class="col s12 m6 l5">
        @await Html.PartialAsync("Chart/WinRate/ByType")
        @await Html.PartialAsync("Chart/WinRate/ByHero")
    </div>
    <div class="col s12 m6 l7">
        @await Html.PartialAsync("Chart/SrEvolution")
    </div>
</div>
<div class="row">
    <div class="col s12">
        @await Component.InvokeAsync(nameof(AverageSrChangeComponent))
    </div>
</div>