@model DomainModel.Game

<div class="fixed-action-btn">
    @* ReSharper disable once Html.IdNotResolved *@
    <a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#add-game-modal">
        <i class="material-icons">add</i>
    </a>
</div>

<div class="modal" id="add-game-modal">
    <div class="modal-content row">
        @await Html.PartialAsync("_GameForm", Model)
    </div>
</div>