<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Overwatch Performance Tracker</title>
    @await Html.PartialAsync("_Head")
    @await RenderSectionAsync("Scripts", false)
</head>
<body>
<header>
    @await Html.PartialAsync("_Nav")
</header>
<main class="container">
    @RenderBody()
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            &copy; 2021 -
            @DateTime.Now.Year
            - Overwatch Performance Tracker
            @* <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </div>
</footer>
</body>
</html>